body {
    background: #e6e6e6
}

.container {
    border: 2px solid #595959;
}

.main-section {
    background: #fff;
    border-bottom: 2px solid #595959;
}

.section-header {
    background: #f2f2f2;
}